<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GalilCAM</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
      }

      .strokeme {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
      }

      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
        text-align: center;
      }

      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }
    </style>
  </head>
  <body style="background-color: black; font-family: arial">
    <div id="map" style="width:100%; height:100%; z-index: 100"></div>
    <div id="legend" dir="rtl"><h1>בחר עיר:</h1></div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 33.0066357, lng: 35.0912991 },
          zoom: 15,
          minZoom: 14,
          mapTypeControl: false,
          mapTypeId: 'satellite'
        });
        <% for(var i = 0; i<cameras.length; i++){ %>
          var iconN = {
          path: "M136.37 220.1L137.9 447.51C138.04 468.32 155.03 485.09 175.85 484.95L403.26 483.42C424.08 483.28 440.85 466.29 440.71 445.47L439.18 218.06C439.04 197.24 422.04 180.48 401.23 180.62L173.82 182.15C153 182.29 136.23 199.28 136.37 220.1L136.37 220.1ZM165.1 70.54L225.29 156.57L349.41 155.73L408.36 68.91C419.76 52.11 407.86 29.16 387.75 29.3L185.18 30.67C165.15 30.81 153.47 53.83 165.11 70.55L165.1 70.54Z",
          fillColor: "000000",
          fillOpacity: 1,
          strokeWeight: 1.8,
          strokeColor: "white",
          scale: .04,
          rotation: <%= cameras[i].Angle %>
        };
          var contentString<%= i %> = '<h2 style="text-align: center">Info</h2>' +
                                      '<p>Type: <%= cameras[i].TypeMobile %>' +
                                      '<p>Info: <%= cameras[i].CameraINFO %>' +
                                      '<p>Angle: <%= cameras[i].Angle %>\u00B0' +
                                      '<p>Coordinates: <%= cameras[i].X %>, <%= cameras[i].Y %>'
          var infowindow<%= i %> = new google.maps.InfoWindow({
            content: contentString<%= i %>
          });
          var marker<%= i %> = new google.maps.Marker({
            position: { lat: <%= cameras[i].X %>, lng: <%= cameras[i].Y %> },
            map: map,
            icon: iconN
          });
          marker<%= i %>.addListener('click', function() {
            infowindow<%= i %>.open(map, marker<%= i %>)
          })
        <% } %>

        var trafficLayer = new google.maps.TrafficLayer();

        trafficLayer.setMap(map);
        var legend = document.getElementById('legend');
        var div = document.createElement('div');
        var div2 = document.createElement('div');
        div.innerHTML = '<h2 id="nahariyya" style="color: blue; text-decoration: underline; cursor: pointer">נהרייה</h2>'
        div2.innerHTML = '<h2 id="karmiel" style="color: blue; text-decoration: underline; cursor: pointer">כרמיאל</h2>'
        legend.appendChild(div)
        legend.appendChild(div2)
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
        $('#nahariyya').click(() =>{
          map.panTo(new google.maps.LatLng(33.0066357, 35.0912991));
        })
        $('#karmiel').click(() =>{
          map.panTo(new google.maps.LatLng(32.911673, 35.296536));
        })
      }
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXY_aO0xDGZX4BSOkw8w88wLpp0Q7HTIQ&callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
